Repository ISPC-2024-GrupoEstudio/GrupoEstudio-2024, pull requests merged in 2024-05, with the labels that each got.

#28 Flor Castelucci
  Proyecto 2024/frontend/.editorconfig
  Proyecto 2024/frontend/.gitignore
  Proyecto 2024/frontend/.vscode/extensions.json
  Proyecto 2024/frontend/.vscode/launch.json
  Proyecto 2024/frontend/.vscode/tasks.json
  Proyecto 2024/frontend/README.md
  Proyecto 2024/frontend/angular.json
  Proyecto 2024/frontend/package-lock.json
  Proyecto 2024/frontend/package.json
  Proyecto 2024/frontend/src/app/app.component.css
  Proyecto 2024/frontend/src/app/app.component.html
  Proyecto 2024/frontend/src/app/app.component.spec.ts
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.config.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.css
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.css
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.html
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.ts
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.css
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.html
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.ts
  Proyecto 2024/frontend/src/app/pages/home/home.component.css
  Proyecto 2024/frontend/src/app/pages/home/home.component.html
  Proyecto 2024/frontend/src/app/pages/home/home.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/home/home.component.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.css
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
  Proyecto 2024/frontend/src/app/shared/footer/footer.component.css
  Proyecto 2024/frontend/src/app/shared/footer/footer.component.html
  Proyecto 2024/frontend/src/app/shared/footer/footer.component.spec.ts
  Proyecto 2024/frontend/src/app/shared/footer/footer.component.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.css
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.spec.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.ts
  Proyecto 2024/frontend/src/assets/.gitkeep
  Proyecto 2024/frontend/src/favicon.ico
  Proyecto 2024/frontend/src/index.html
  Proyecto 2024/frontend/src/main.ts
  Proyecto 2024/frontend/src/styles.css
  Proyecto 2024/frontend/tsconfig.app.json
  Proyecto 2024/frontend/tsconfig.json
  Proyecto 2024/frontend/tsconfig.spec.json
Labels: FrontEnd

#33 Traspaso de estilos a Angular
  Proyecto 2024/frontend/src/styles.css
Labels: FrontEnd

#38 Agrego cambios de componente Home
  Proyecto 2024/frontend/src/app/app.component.html
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/home/home.component.html
Labels: FrontEnd

#39 Emiliano
  .vscode/settings.json
  Proyecto 2024/frontend/src/app/app.component.html
  Proyecto 2024/frontend/src/app/app.config.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.ts
Labels: FrontEnd

#40 Agrego ruta de registro , corrijo el problema de navegación del nav
  Proyecto 2024/frontend/src/app/app.component.html
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.css
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.html
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.ts
  Proyecto 2024/frontend/src/styles.css
  package-lock.json
Labels: FrontEnd

#42 Se crea componente Login en Angular y validaciones
  .gitignore
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  package-lock.json
  package.json
Labels: FrontEnd

#43 Implementación Componente Productos
  Proyecto 2024/frontend/package-lock.json
  Proyecto 2024/frontend/package.json
  Proyecto 2024/frontend/src/app/app.component.html
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/assets/imagenes/Accesorios/Collar-Gato.png
  Proyecto 2024/frontend/src/assets/imagenes/Accesorios/Collar-Perro.png
  Proyecto 2024/frontend/src/assets/imagenes/Accesorios/Correa.png
  Proyecto 2024/frontend/src/assets/imagenes/Accesorios/Rascador.png
  Proyecto 2024/frontend/src/assets/imagenes/Accesorios/Transportador.png
  Proyecto 2024/frontend/src/assets/imagenes/Accesorios/Vertedero.png
  Proyecto 2024/frontend/src/assets/imagenes/Cuchas/Calabaza.png
  Proyecto 2024/frontend/src/assets/imagenes/Cuchas/CuchaExterior.png
  Proyecto 2024/frontend/src/assets/imagenes/Cuchas/Donnas.png
  Proyecto 2024/frontend/src/assets/imagenes/Cuchas/FormaGato.png
  Proyecto 2024/frontend/src/assets/imagenes/Cuchas/GatoColgante.png
  Proyecto 2024/frontend/src/assets/imagenes/Cuchas/Sillon.png
  Proyecto 2024/frontend/src/assets/imagenes/Juguetes/ArrojadorAutomatico.png
  Proyecto 2024/frontend/src/assets/imagenes/Juguetes/Huesos.png
  Proyecto 2024/frontend/src/assets/imagenes/Juguetes/JuegueteGato.png
  Proyecto 2024/frontend/src/assets/imagenes/Juguetes/PelucheGato.png
  Proyecto 2024/frontend/src/assets/imagenes/Juguetes/Raton.png
  Proyecto 2024/frontend/src/assets/imagenes/Juguetes/Sogas.png
  Proyecto 2024/frontend/src/assets/imagenes/Ropa/BuzoFelpa.png
  Proyecto 2024/frontend/src/assets/imagenes/Ropa/BuzoMiami.png
  Proyecto 2024/frontend/src/assets/imagenes/Ropa/BuzoOrejasGato.png
  Proyecto 2024/frontend/src/assets/imagenes/Ropa/BuzoPuffer.png
  Proyecto 2024/frontend/src/assets/imagenes/Ropa/GorroPinguino.png
  Proyecto 2024/frontend/src/assets/imagenes/Ropa/SweterGato.png
  Proyecto 2024/frontend/src/assets/imagenes/huella.png
  Proyecto 2024/frontend/src/styles.css
Labels: FrontEnd

#44 Arreglos en Login y rutas del nav
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/styles.css
Labels: FrontEnd

#46 Se crea estructura basica del backend con django
  Proyecto 2024/backend/.gitignore
  Proyecto 2024/backend/.python-version
  Proyecto 2024/backend/manage.py
  Proyecto 2024/backend/server/__init__.py
  Proyecto 2024/backend/server/asgi.py
  Proyecto 2024/backend/server/settings.py
  Proyecto 2024/backend/server/urls.py
  Proyecto 2024/backend/server/wsgi.py
  Proyecto 2024/backend/src/models/Admin.py
  Proyecto 2024/backend/src/models/Categoria.py
  Proyecto 2024/backend/src/models/Cliente.py
  Proyecto 2024/backend/src/models/DetallePedido.py
  Proyecto 2024/backend/src/models/DetalleVenta.py
  Proyecto 2024/backend/src/models/EstadoPedido.py
  Proyecto 2024/backend/src/models/Pedido.py
  Proyecto 2024/backend/src/models/Producto.py
  Proyecto 2024/backend/src/models/Proveedor.py
  Proyecto 2024/backend/src/models/TipoDoc.py
  Proyecto 2024/backend/src/models/Usuario.py
  Proyecto 2024/backend/src/models/Venta.py
  Proyecto 2024/backend/src/repositories/ProductosRepository.py
  Proyecto 2024/backend/src/urls.py
  Proyecto 2024/backend/src/utils/Conector.py
Labels: Backend

#49 Vale angeletti
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/estadoenvios/estadoenvios.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/estadoenvios/estadoenvios.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/historialcompras/historialcompras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historialcompras/historialcompras.component.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
Labels: FrontEnd

#50 correciones routing dashboard
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historialcompras/historialcompras.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/historialcompras/historialcompras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historialcompras/historialcompras.component.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
Labels: FrontEnd

#51 Se agrega la seccion de contacto de la pagina petboutique
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.css
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.html
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.ts
Labels: FrontEnd

#53 Implementación componentes estado envíos y finalización dashboard
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/estadoenvios/estadoenvios.component.css
Labels: FrontEnd

#54 Se agrega Modelo de BD y Script
  Proyecto 2024/backend/BBDD/ModeloBD.jpeg
  Proyecto 2024/backend/BBDD/ScriptBDPetShop2024.sql
Labels: documentation, DataBase

#55 Creo modelos a partir de código, usando la herramienta de Django - Superuser
  Proyecto 2024/backend/.gitignore
  Proyecto 2024/backend/.python-version
  Proyecto 2024/backend/BBDD/ScriptPetBoutiqueApp.sql
  Proyecto 2024/backend/PetBoutique/PetBoutique/__init__.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/asgi.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/wsgi.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__init__.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/admin.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/apps.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/0001_initial.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__init__.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/tests.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/backend/PetBoutique/db.sqlite3
  Proyecto 2024/backend/PetBoutique/manage.py
  Proyecto 2024/backend/PetBoutique/modelo.txt
  Proyecto 2024/backend/requirements.txt
  Proyecto 2024/backend/src/models/Admin.py
  Proyecto 2024/backend/src/models/Categoria.py
  Proyecto 2024/backend/src/models/Cliente.py
  Proyecto 2024/backend/src/models/DetallePedido.py
  Proyecto 2024/backend/src/models/DetalleVenta.py
  Proyecto 2024/backend/src/models/EstadoPedido.py
  Proyecto 2024/backend/src/models/Pedido.py
  Proyecto 2024/backend/src/models/Producto.py
  Proyecto 2024/backend/src/models/Proveedor.py
  Proyecto 2024/backend/src/models/TipoDoc.py
  Proyecto 2024/backend/src/models/Usuario.py
  Proyecto 2024/backend/src/models/Venta.py
  Proyecto 2024/backend/src/repositories/ProductosRepository.py
  Proyecto 2024/backend/src/urls.py
  Proyecto 2024/backend/src/utils/Conector.py
Labels: Backend

#72 Vale angeletti
  .vscode/settings.json
  Proyecto 2024/frontend/angular.json
  Proyecto 2024/frontend/package-lock.json
  Proyecto 2024/frontend/package.json
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/compra01/compra01.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/compra02/compra02.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/compra03/compra03.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/estadoenvios/estadoenvios.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/estadoenvios/estadoenvios.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/estadoenvios/estadoenvios.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/Diseño sin título.png
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/cucha.png
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/cupon-de-descuento.png
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/flecha-desplegable.png
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/gato.png
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/pedidos.png
  Proyecto 2024/frontend/src/assets/imagenes/Dashboard/percha.png
  Proyecto 2024/frontend/src/assets/imagenes/huella.png
Labels: FrontEnd

#73 routing detalles
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.ts
Labels: FrontEnd
