Repository ISPC-2024-GrupoEstudio/GrupoEstudio-2024, pull requests merged in 2024-06, with the labels that each got.

#75 Se modifica y actualizan modelos de db y crea endpoint de productos
  .gitignore
  Proyecto 2024/backend/.gitignore
  Proyecto 2024/backend/.python-version
  Proyecto 2024/backend/BBDD/ScriptPetBoutiqueApp.sql
  Proyecto 2024/backend/PetBoutique/PetBoutique/__init__.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/admin.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/app.config.ts
  Proyecto 2024/frontend/src/app/models/categoria.interface.ts
  Proyecto 2024/frontend/src/app/models/producto.interface.ts
  Proyecto 2024/frontend/src/app/models/proveedor.interface.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
  Proyecto 2024/frontend/src/app/services/producto.service.ts
  Proyecto 2024/frontend/tsconfig.json
Labels: Backend, Python

#76 se actualiza el requirements.txt y actualiza modelo bd
  Proyecto 2024/backend/BBDD/ModeloBD.jpeg
  Proyecto 2024/backend/BBDD/ModeloBD.png
  Proyecto 2024/backend/requirements.txt
Labels: Backend

#78 se corrige login
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.css
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
Labels: FrontEnd

#79 Creacion de pagina 404, arreglo footer, subo imagen
  Proyecto 2024/frontend/src/app/app.component.html
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/not-found/not-found.component.css
  Proyecto 2024/frontend/src/app/pages/not-found/not-found.component.html
  Proyecto 2024/frontend/src/app/pages/not-found/not-found.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/not-found/not-found.component.ts
  Proyecto 2024/frontend/src/assets/imagenes/404 1.avif
Labels: FrontEnd

#80 Agrego estructura base de carrito, con posible lógica a usar (puede haber modificaciones)
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.config.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.css
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.css
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.html
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
  Proyecto 2024/frontend/src/app/services/models/product-api.interface.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.ts
Labels: FrontEnd

#82 servicios y api historial compras
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/models/estadoPedido.interface.ts
  Proyecto 2024/frontend/src/app/models/pedido.interface.ts
  Proyecto 2024/frontend/src/app/models/productosXPedido.interface.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.ts
  Proyecto 2024/frontend/src/app/services/estadoPedido.service.ts
  Proyecto 2024/frontend/src/app/services/models/pedido-api.inteface.ts
  Proyecto 2024/frontend/src/app/services/pedidos.service.ts
  Proyecto 2024/frontend/src/app/services/productoXPedido.service.ts
  Proyecto 2º Semestre/Backend/Controladores/__pycache__/ControladorProductos.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Producto.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Proveedor.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Utils/__pycache__/Conector.cpython-311.pyc
Labels: FrontEnd, Backend

#83 Manipulación de roles
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Backend

#84 Creacion de Rutas Protegidas de Dashboard y carrito de compra
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/guards/permisos.guard.spec.ts
  Proyecto 2024/frontend/src/app/pages/guards/permisos.guard.ts
  Proyecto 2024/frontend/src/app/pages/guards/proteccion.guard.spec.ts
  Proyecto 2024/frontend/src/app/pages/guards/proteccion.guard.ts
  Proyecto 2024/frontend/src/app/pages/guards/unfilled.guard.spec.ts
  Proyecto 2024/frontend/src/app/pages/guards/unfilled.guard.ts
Labels: FrontEnd

#85 se agregaron servicios que complementan el historial
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/models/formaDePago.interface.ts
  Proyecto 2024/frontend/src/app/models/tipoEnvio.interface.ts
  Proyecto 2024/frontend/src/app/services/formaDePago.service.ts
  Proyecto 2024/frontend/src/app/services/tipoEnvio.service.ts
Labels: Backend

#88 Agrego pasarela de pagos simulada
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
Labels: FrontEnd, Backend

#90 correccion errores urls
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Backend

#91 Emir samsam fix
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/admin.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/api.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  Proyecto 2024/frontend/src/app/pages/guards/permisos.guard.ts
  Proyecto 2024/frontend/src/app/services/auth.service.ts
  Proyecto 2024/frontend/src/app/services/categoria.service.ts
  Proyecto 2024/frontend/src/app/services/estadoPedido.service.ts
  Proyecto 2024/frontend/src/app/services/formaDePago.service.ts
  Proyecto 2024/frontend/src/app/services/pedidos.service.ts
  Proyecto 2024/frontend/src/app/services/producto.service.ts
  Proyecto 2024/frontend/src/app/services/productoXPedido.service.ts
  Proyecto 2024/frontend/src/app/services/proveedor.service.ts
  Proyecto 2024/frontend/src/app/services/tipoEnvio.service.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.css
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.ts
Labels: FrontEnd, Backend

#92 Adición de API registro y servicios de autenticación c/ rutas protegidas
  .gitignore
  Proyecto 2024/backend/.gitignore
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/admin.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/api.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/0001_initial.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/0002_authgroup_authgrouppermissions_authpermission_and_more.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  Proyecto 2024/frontend/src/app/pages/guards/permisos.guard.ts
  Proyecto 2024/frontend/src/app/services/auth.service.ts
  Proyecto 2024/frontend/src/app/services/categoria.service.ts
  Proyecto 2024/frontend/src/app/services/estadoPedido.service.ts
  Proyecto 2024/frontend/src/app/services/formaDePago.service.ts
  Proyecto 2024/frontend/src/app/services/pedidos.service.ts
  Proyecto 2024/frontend/src/app/services/producto.service.ts
  Proyecto 2024/frontend/src/app/services/productoXPedido.service.ts
  Proyecto 2024/frontend/src/app/services/proveedor.service.ts
  Proyecto 2024/frontend/src/app/services/tipoEnvio.service.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.css
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.ts
Labels: FrontEnd, Backend, Python

#98 Correcciones estilos (login, contacto, carrito)
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.css
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.css
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.css
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.html
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.css
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/assets/imagenes/Contacto/correo.png
  Proyecto 2024/frontend/src/assets/imagenes/Contacto/telefono.png
  Proyecto 2024/frontend/src/assets/imagenes/Contacto/ubicacion.png
  Proyecto 2024/frontend/src/styles.css
Labels: FrontEnd

#101 Florencia carrillo
  Proyecto 2024/backend/BBDD/ScriptPetBoutiqueApp.sql
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/wsgi.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/admin.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/apps.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/0001_initial.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/__pycache__/__init__.cpython-312.pyc
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/models/carrito.interface.ts
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.html
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
Labels: FrontEnd, Backend, DataBase

#103 Se agrega funcionalidad de eliminar y actualización automática al agregar nuevo item al carrito
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.html
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
Labels: FrontEnd, Backend

#105 Agrego api de chcekout y corrijo validaciones incorrectas
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
Labels: FrontEnd, Backend

#107 Cambios en el guard.
  Proyecto 2024/frontend/package-lock.json
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/guards/permisos.guard.spec.ts
  Proyecto 2024/frontend/src/app/pages/guards/permisos.guard.ts
  Proyecto 2024/frontend/src/app/pages/guards/proteccion.guard.spec.ts
  Proyecto 2024/frontend/src/app/pages/guards/proteccion.guard.ts
  Proyecto 2024/frontend/src/app/pages/guards/unfilled.guard.spec.ts
  Proyecto 2024/frontend/src/app/pages/guards/unfilled.guard.ts
Labels: FrontEnd

#110 Cambios en los html de los Dashboard
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.html
Labels: FrontEnd

#111 Agrego modificaciones del checkout
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.css
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
Labels: FrontEnd

#112 funcionalidad mostrar detalle de compra
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.ts
  Proyecto 2024/frontend/src/app/services/producto.service.ts
  Proyecto 2024/frontend/src/app/services/productoXPedido.service.ts
Labels: FrontEnd, Backend
