Repository ISPC-2024-GrupoEstudio/GrupoEstudio-2024, pull requests merged in 2025-05, with the labels that each got.

#155 Funcionalidad editar perfil
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/perfil/editar-perfil/editar-perfil.component.css
  Proyecto 2024/frontend/src/app/pages/perfil/editar-perfil/editar-perfil.component.html
  Proyecto 2024/frontend/src/app/pages/perfil/editar-perfil/editar-perfil.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/perfil/editar-perfil/editar-perfil.component.ts
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.css
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.html
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.ts
  Proyecto 2024/frontend/src/app/services/user.service.ts
Labels: FrontEnd, Backend, DataBase

#160 Se agrega chatbot y corrección de refresh token
  Proyecto 2024/frontend/src/app/app.component.ts
  Proyecto 2024/frontend/src/app/app.config.ts
  Proyecto 2024/frontend/src/app/services/auth.interceptor.ts
  Proyecto 2024/frontend/src/app/services/auth.service.ts
  Proyecto 2024/frontend/src/app/services/producto.service.ts
  Proyecto 2024/frontend/src/index.html
Labels: bug, FrontEnd, Backend

#161 Milenagimenez2
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/admin.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/0001_initial.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/migrations/0002_cupon_image_url.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/models.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/serializer.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.css
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.html
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.ts
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupon-aplicado.ts
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/cupones/cupones.component.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
  Proyecto 2024/frontend/src/app/services/cupon.service.ts
Labels: FrontEnd

#170 Se agrega boton para redirigir a repo de app movil
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
Labels: FrontEnd

#171 Vale angeletti
  Proyecto 2024/backend/BBDD/ScriptPetBoutiqueAppnuevo.sql
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.ts
  Proyecto 2024/frontend/src/app/services/auth.interceptor.ts
Labels: bug

#172 rediseño y correcciones del dashboard
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/detalle-compras/detalle-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.css
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.html
  Proyecto 2024/frontend/src/app/pages/dashboard/historial-compras/historial-compras.component.ts
Labels: FrontEnd

#173 correccion desbordamiento y rediseño galeria
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/pages/dashboard/dashboard.component.html
  Proyecto 2024/frontend/src/app/pages/home/home.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/styles.css
Labels: bug, FrontEnd

#174 Milenagimenez3
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/services/cupon.service.ts
  Proyecto 2024/frontend/src/index.html
Labels: bug

#175 Vale angeletti
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.html
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.css
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.html
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/carrito.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/checkout.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/contacto.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/dashboard.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/inicio.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/login.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/perfil.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/productos.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/productos2.png
  Proyecto 2024/frontend/src/assets/imagenes/Readme-Capturas/registro.png
  README.md
Labels: documentation, FrontEnd

#176 Update README.md
  README.md
Labels: documentation

#185 agregando componente politica de privacidad
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/politica-privacidad/politica-privacidad.component.css
  Proyecto 2024/frontend/src/app/pages/politica-privacidad/politica-privacidad.component.html
  Proyecto 2024/frontend/src/app/pages/politica-privacidad/politica-privacidad.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/politica-privacidad/politica-privacidad.component.ts
  Proyecto 2024/frontend/src/app/shared/footer/footer.component.css
  Proyecto 2024/frontend/src/app/shared/footer/footer.component.html
Labels: FrontEnd
