Repository ISPC-2024-GrupoEstudio/GrupoEstudio-2024, pull requests merged in 2025-04, with the labels that each got.

#141 Autenticación con JWT y mensaje al no estar logueado del carrito
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/package-lock.json
  Proyecto 2024/frontend/package.json
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  Proyecto 2024/frontend/src/app/pages/cart/checkout/checkout.component.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
  Proyecto 2024/frontend/src/app/services/auth.service.ts
  Proyecto 2024/frontend/src/app/services/cart.service.ts
Labels: FrontEnd, Backend

#145 Pagina de perfil
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/backend/PetBoutique/PetBoutique/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/urls.py
  Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/views.py
  Proyecto 2024/frontend/src/app/app.routes.ts
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.css
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.html
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.spec.ts
  Proyecto 2024/frontend/src/app/pages/perfil/perfil.component.ts
  Proyecto 2024/frontend/src/app/services/auth.service.ts
  Proyecto 2024/frontend/src/app/shared/nav/nav.component.html
  Proyecto 2024/frontend/src/assets/imagenes/Perfil/dni.png
  Proyecto 2024/frontend/src/assets/imagenes/Perfil/email.png
  Proyecto 2024/frontend/src/assets/imagenes/Perfil/fotoPerfil.png
  Proyecto 2024/frontend/src/assets/imagenes/Perfil/nombreCompleto.png
  Proyecto 2024/frontend/src/assets/imagenes/Perfil/telefono.png
Labels: FrontEnd, Backend, DataBase

#146 Milenagimenez
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.css
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.html
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.ts
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.css
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.html
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.ts
  Proyecto 2024/frontend/src/assets/imagenes/info.png
Labels: FrontEnd

#147 Se agregan los Pop-ups con Descripción de Productos en las Cards y se incluye botón de Agregar al carrito
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.css
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
  Proyecto 2024/frontend/src/styles.css
Labels: FrontEnd

#150 Se agrega filtros por categoria de prodcutos y por descripción
  Proyecto 2024/frontend/src/app/components/filtro-productos/filtro-productos.component.css
  Proyecto 2024/frontend/src/app/components/filtro-productos/filtro-productos.component.html
  Proyecto 2024/frontend/src/app/components/filtro-productos/filtro-productos.component.spec.ts
  Proyecto 2024/frontend/src/app/components/filtro-productos/filtro-productos.component.ts
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.css
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.html
  Proyecto 2024/frontend/src/app/pages/productos/productos.component.ts
Labels: FrontEnd

#151 Validación y confirmacion de contraseña, con ojos visualizadores
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.html
  Proyecto 2024/frontend/src/app/pages/auth/login/login.component.ts
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.html
  Proyecto 2024/frontend/src/app/pages/auth/registro/registro.component.ts
  Proyecto 2024/frontend/src/styles.css
Labels: FrontEnd

#152 Boton cerrar pop-up carrito
  Proyecto 2024/frontend/src/app/pages/cart/minicart/minicart.component.html
Labels: FrontEnd

#154 Redireccion contacto a Whatsapp
  Proyecto 2024/backend/PetBoutique/PetBoutique/settings.py
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.html
  Proyecto 2024/frontend/src/app/pages/contacto/contacto.component.ts
Labels: FrontEnd
